<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>
      {EC_CHAT}
    </title>
	<link rel="stylesheet" type="text/css" href="templates/default/style.css">
    <script language="javascript" type="text/javascript"src="javascripts/script.js"> </script>
    <script language="javascript" type="text/javascript"src="javascripts/chat.js"></script>
    <script language="javascript" type="text/javascript"src="javascripts/ajaxall.js"></script>
    <script type="text/javascript" language="javascript">
<!--
{EC_JSCRIPT}

function LoadMsgs() { 

	Ajax.set('gerasala.php','abre={ATUAL_SALA}','txt','chatDiv',function(){Ajax.writeId();});
	Ajax.get();
	setTimeout('LoadMsgs()',800);
	
}
//-->
    </script>
  </head>
  <body onload="LoadMsgs();document.frm.texto.focus();">
  <div id="hide"></div>
    <form name="frm" id="frm" onsubmit="send();return false;" method="post" action="{SELF}?sala={ATUAL_SALA}" >
	<input type="hidden" name="sala" value="{ATUAL_SALA}"><input type="hidden" id="md5" value="">

      <table cellpadding="0" border="0" cellspacing="0" width="600" height="85" class="tab_top">
        <tr>
          <td class="tab1_" valign="middle" align="left"
          height="20">
            <font class="titulo">{EC_CHAT}</font>
          </td>
        </tr>
        <tr>
          <td class="tab1" valign="middle" align="left">
            <font class="td">{S_SALA}:{S_N_SALA}</font>
          </td>
        </tr>
        <tr>
          <td class="tab1" valign="middle" align="left"
          height="20">
           </td>
        </tr>
      </table>
	  <!-- CHat -->
     <div id="chatDiv"></div>			
	 <!-- CHat -->
      <table cellspacing="0" cellpadding="0" class="tab_down" width="600" height="97">
        <tr>
          <td colspan="2">
            <font class="td"> {S_NICK}: <input type="text" size="40" maxlength="{T_SIZE}" name="nick"  value="{NICK_BOX}">  {S_LOGOUT}</font>
          </td>
        </tr>
        <tr>
          <td>
            <font class="td"> {S_ESTILO}:</font>
						<select name="bb" size="1" onchange="bbfontstyle('')">{OPT_STYLE}</select>
			<!-- &nbsp;&nbsp;
            <font class="td">{S_SMILIES}:</font>
						<select name="smy" onchange="smilies();">{OPT_SMILIES}</select> -->
            &nbsp;&nbsp;
			<font class="td">{S_COLORS}:</font>
						<select name="cor1" onchange="addcolor();">{OPT_COLORS}</select>
			&nbsp;&nbsp;
			<font class="td">{S_THEME}:</font>
						<select name="thema" onchange="changeTheme();">{OPT_THEMES}</select>

          </td>
        </tr>
        <tr>
          <td colspan="2">
            <font class="td"> {S_TEXTO}:</font>
						<input type="text" size="40" maxlength="{T_SIZE}" name="texto" /> <input type="submit" value="{S_ENVIAR}" />
          </td>
          
        </tr>

      </table>
    </form>
      <a href="adm.php">{S_ADMINISTRACAO}</a>
  </body>
</html>
